{% if question and question.choice_set.all %}
    <h3>{{ question }}</h3>
    <form action="{% url 'quiz:submit' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
{% elif question %}
    <h3>{{ question }}</h3>
    <p>
    No choices!
    </p>
{% else %}
    <h3>No question</h3>
{% endif %}
